In [42]:
import pandas as pd
import codecs
from nltk.tokenize import RegexpTokenizer

col_Names=["PostID","PostLabel", "SegmentedPostLabel", "SegmentedPost", "Tokenized"]
df = pd.read_csv(codecs.open('data.csv','rU','UTF-8'), sep=',',header=0,names=col_Names)

In [43]:
df.shape

(234431, 5)

In [44]:

df.head()

,PostID,PostLabel,SegmentedPostLabel,SegmentedPost,Tokenized
1,0,-1.0,-1.0,bà trăn_trở hằng đêm để giải_quyết cách cư xử ...,"['trăn_trở', 'hằng', 'đêm', 'giải_quyết', 'cư'..."
2,0,-1.0,-1.0,". bữa tôi mới post cái lịch của vietjet , mà h...","['bữa', 'post', 'lịch', 'vietjet', 'tưởng', 'm..."
3,0,-1.0,-1.0,", vietjet hãng bay của quân đội , có nên đổi s...","['vietjet', 'hãng', 'bay', 'quân', 'đội', 'đổi..."
4,0,-1.0,-1.0,", vietjet mang con tuần_lộc bikini , bụng chắc...","['vietjet', 'tuần_lộc', 'bikini', 'bụng', 'thu..."
5,0,-1.0,-1.0,". hay bà muốn vietjet chuyển sang vietjerk , h...","['vietjet', 'vietjerk', 'vietsex', 'vần', 'đuổ..."

In [25]:
neg=df[df["SegmentedPostLabel"]==-1].shape[0]
neu=df[df["SegmentedPostLabel"]==0].shape[0]
pos=df[df["SegmentedPostLabel"]==1].shape[0]

In [28]:
print("Neg: ",neg)
print("Neu: ",neu)
print("Pos: ",pos)

Neg:  13094
Neu:  101288
Pos:  120049

In [30]:
neg+neu+pos

234431

In [37]:
df[~df["SegmentedPostLabel"].isin([0,1,-1])]

,PostID,PostLabel,SegmentedPostLabel,SegmentedPost,Tokenized
10387,"3 1 , 5 091118 , 2279 1 , 5 0911 , 754 , 789 1...",NaN,NaN,NaN,NaN
10388,"8 0918 , 555775 1 , 8 09 , 4114 , 6262 1 , 8 ...",NaN,NaN,NaN,NaN
12568,là một “ thảm_họa ngoại_giao ” đã khiến nhiều...,NaN,NaN,NaN,NaN
13365,"3535393 1 , 5 091118 , 2279 1 , 5 0911 , 754 ,...",NaN,NaN,NaN,NaN
13366,"555775 1 , 8 09 , 4114 , 6262 1 , 8 0941 , 880...",NaN,NaN,NaN,NaN
13902,"1 , 5 091118 , 2279 1 , 5 0911 , 754 , 789 1 ...",NaN,NaN,NaN,NaN
13903,"555775 1 , 8 09 , 4114 , 6262 1 , 8 0941 , 880...",NaN,NaN,NaN,NaN
12532,ến_nỗi suốt đời không mơ tưởng đến chuyện vợ c...,NaN,NaN,NaN,NaN
3269,0866 . 070 . 050 1000 0866 . 101 . 393 1000 08...,NaN,NaN,NaN,NaN